@import '../utils/variables';
@import '../utils/_mixins.scss';


header{
    margin-left: 100px;
    margin-right: 100px;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-top: 45px;
}

.header_logo-container{
    @include dft();

    .link_kasa_homepage{
        width: 13.125rem;
        height: 4.25rem;

        .logo_kasa{
            width: 100%;
            height: 100%;
        }
    }
}

.header-nav{

    .header_nav_ul{
        @include dft();
        gap:57px;

        .header_nav_li{

            .header_nav_link {
                font-size: $header_links_size_desktop;
                &.active{
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width:700px) {

    header{
        margin-left: 20px;
        margin-right: 20px;
    }
    .header_logo-container{
        .link_kasa_homepage{
            width: 9.063rem;
            height: 2.938rem;
        }
    }
    .header-nav{
        .header_nav_ul{
            gap:25px;
            .header_nav_li{
                .header_nav_link {
                    font-size: $header_links_size_mobile;
                }
            }
        }
    }

}

