
main.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 139px;
  padding-top: 139px;
  padding-bottom: 139px;

  .error_title, .error_text {
    color: $light-red;
  }
  
   .error_title {
    font-size: 16.438rem;
  }
  
   .error_text {
    text-align: center;
    font-size: 2.25rem;
  }
  
   .error_link {
    font-size: 1.125rem;
    text-decoration: underline;
  }

}

@media screen and (max-width: 700px) {
  main.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 113px;
    padding-top: 113px;
    padding-bottom: 113px;

    .error_title,
    .error_text {
      color: $light-red;
    }
  
    .error_title {
      font-size: 6.188rem;
    }
  
    .error_text {
      font-size: 1.125rem;
    }
  
    .error_link {
      font-size: 0.875rem;
      text-decoration: underline;
    }
  }
}