// Every variables wich are apply to more than one page

// ==================== colors ====================
// text and background
$light-red: #FF6060;
// background
$grey_background_cards: #F6F6F6;
$grey_rating-stars:#E3E3E3;
$grey_default-owner-img: #C4C4C4;

// =================== sizes =========================
// ------------------ Texts/titles  ------------------

$header_links_size_desktop: 1.5rem;
$header_links_size_mobile: 0.75rem;

$rental_size_text: 1.125rem;

$tag_size: 0.875rem;

$dropdown_title-and-text_size_desktop: 1.125rem;
$dropdown_title_size_mobile: 0.813rem;
$dropdown_text_size_mobile: 0.75rem;

$footer_text_desktop: 1.5rem;
$footer_text_mobile: 1.5rem;

// ========================= Bordering =========================

$tag-and-dropdown_border-radius_desktop: 10px;
$tag-and-dropdown_border-radius_mobile: 5px;
