@import '_variables.scss';
@import '_mixins.scss';

main.about{
    margin-top: 38px;
    .about_image-container{
        @include dft();
        height:14rem ;
        margin-bottom: 38px;
        border-radius: 25px; 
        .about_image{
            width: 100%;
            height: 100%;
            border-radius: 25px; 
            object-fit: cover;
        }
    }

    .about_dropdowns-container{
        @include dfcol();
        gap:30px;
        margin-bottom: 30px;
        .about_dropdown{
            width: 82%;
           @include dropdown();

           .about_dropdown_title-container{
            @include dropdown-banner();
            .dropdown_title{
                font-size: 1.5rem;
                width: 100%;
                font-weight: bold;
            }
            .chevron{
                cursor: pointer;
                &.active{
                    display: none;
                }
            }
           }
           .about_dropdown_text{
            font-size: 1.125rem;
            padding: 10px;

            &.hidden{
                display: none;
            }
           }
        }
    }
}

footer{
    margin-top: 0;
}

@media screen and (max-width:700px) {
    main{
        .about_image-container{
            height:7rem ;
            border-radius: 10px; 
            margin-bottom: 19px;
            .about_image{
                border-radius: 10px; 
            }
        }
        .about_dropdowns-container{
            @include dfcol();
            margin-bottom: 19px;
            gap:19px;
    
            .about_dropdown{
                width: 100%;
               .about_dropdown_title-container{
                font-size: 0.813rem;
               }
               .about_dropdown_text{
                font-size: 0.75rem;
               }
            }
        }
    }    
}